<section class="container mx-auto">
  <div class="flex flex-col items-center py-8 lg:py-12 text-center">
    <h1 class="text-5xl font-bold mb-6">Watermark PDF Online</h1>
    <p class="text-2xl text-gray-500 leading-normal lg:leading-loose">Add image or text watermark to PDF documents.</p>
  </div>
</section>