<div class="mb-4 p-2 lg:p-4">
  <div class="flex items-center">
    <!-- PDF File -->
    <div class="wrapper flex items-center text-main relative" data-step="1">
      <div class="icon rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-main">
        <svg class="fill-current" version="1.1" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 37.622 37.622" style="enable-background:new 0 0 37.622 37.622;" xml:space="preserve">
          <g>
            <path d="M37.306,27.558c-1.339-2.418-7.203-3.958-12.381-4.25c-0.468-0.501-0.943-1.028-1.43-1.582 c-4.45-5.088-6.252-12.482-6.925-16.399c-0.08-0.83-0.168-1.52-0.242-2.034c-0.06-0.409-0.186-1.262-1.073-1.262 c-0.284,0-0.558,0.122-0.753,0.339c-0.316,0.361-0.269,0.749-0.213,1.197c0.063,0.514,0.158,1.202,0.293,1.987 c0.379,3.977,0.558,11.549-2.503,17.564c-0.319,0.627-0.637,1.229-0.953,1.803c-5.728,1.666-10.35,4.637-11.027,7.101 c-0.245,0.892-0.032,1.747,0.601,2.409c0.737,0.77,1.607,1.16,2.586,1.16c2.71,0,5.799-3.018,9.181-8.967 c1.506-0.396,3.001-0.672,4.446-0.818c0.563-0.057,1.474-0.176,2.034-0.262c1.543-0.238,3.289-0.334,5.083-0.275 c4.152,4.316,7.547,6.504,10.091,6.504c1.366-0.001,2.497-0.667,3.183-1.875C37.726,29.15,37.728,28.318,37.306,27.558z M3.285,33.591c-0.424,0-0.786-0.172-1.141-0.543c-0.145-0.151-0.177-0.281-0.117-0.495c0.349-1.269,3.281-3.444,7.566-5.023 C7.172,31.35,4.855,33.591,3.285,33.591z M18.64,23.57c-0.532,0.082-1.396,0.194-1.93,0.25c-0.971,0.096-1.969,0.249-2.976,0.455 c0.042-0.082,0.084-0.165,0.126-0.248c1.501-2.949,2.431-6.485,2.775-10.538c1.377,3.854,3.173,7.06,5.354,9.554 c0.064,0.074,0.131,0.149,0.195,0.225C20.925,23.298,19.737,23.401,18.64,23.57z M35.56,28.916 c-0.332,0.588-0.804,0.861-1.481,0.861h-0.001c-1.59,0-4.035-1.505-6.962-4.265c4.53,0.569,7.847,1.94,8.442,3.015 C35.644,28.683,35.644,28.766,35.56,28.916z"/>
          </g>
        </svg>
      </div>
      <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase">PDF file</div>
    </div>
    <div class="line flex-auto border-t-2 transition duration-500 ease-in-out border-main" data-step="1"></div>
    <!-- Watermark Settings -->
    <div class="wrapper flex items-center text-gray-400 relative" data-step="2">
      <div class="icon rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-gray-400">
        <svg viewBox="0 0 24 24" width="100%" height="100%" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M12 2.69l5.66 5.66a8 8 0 1 1-11.31 0z"></path></svg>
      </div>
      <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase">Watermark</div>
    </div>
    <div class="line flex-auto border-t-2 transition duration-500 ease-in-out border-gray-400" data-step="2"></div>
    <!-- First page Settings -->
    <div class="wrapper flex items-center text-gray-400 relative" data-step="3">
      <div class="icon rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-gray-400">
        <svg viewBox="0 0 24 24" width="100%" height="100%" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
      </div>
      <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase">Firstpage</div>
    </div>
    <div class="line flex-auto border-t-2 transition duration-500 ease-in-out border-gray-400" data-step="3"></div>
    <!-- Result -->
    <div class="wrapper flex items-center text-gray-400 relative" data-step="4">
      <div class="icon rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-gray-400">
        <svg viewBox="0 0 24 24" width="100%" height="100%" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="20 6 9 17 4 12"></polyline></svg>
      </div>
      <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase">Result</div>
    </div>
  </div>
</div>