<section class="container mx-auto">
  <div class="flex flex-col justify-center items-center min-h-body">
    <h1 class="text-5xl font-bold">Cancelled</h1>
    <p class="text-2xl text-gray-500 leading-loose my-4">Your transaction has been cancelled.</p>
    <a class="mainBtn px-10 py-2 bg-main hover:bg-transparent border border-main text-white transition duration-500 ease-in-out rounded-full" href="/">Home</a>
  </div>
</section>