<section class="container mx-auto">
  <div class="flex flex-col justify-center items-center min-h-body">
    <h1 class="text-5xl font-bold">Thank You!</h1>
    <p class="text-2xl text-gray-500 leading-loose my-4">We appreciate your support, your donation has been received.</p>
    <a class="bg-main text-white px-8 py-2 rounded-full" href="/">Home</a>
    <% payment %> 
  </div>
</section>